
*.pyc
*.pyc
*.pyc
*.meta
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
data/cifar-10-python.tar.gz
*.docx
*.pyc
*.gz
data/cifar-100-python/meta
data/cifar-100-python/test
data/cifar-100-python/train
data/cifar-100-python/file.txt~
